@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking-button {
  @apply animate-blink;
}

input[type="date"]::-webkit-datetime-edit {
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  justify-content: center;
}
